@model IEnumerable<Adilet.Models.Metin>
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="card-header">Hakkımızda</h2>
<div class="card-body" style="color:white">
    <div class="row">
        <div class="col-lg-4">
            <marquee direction=up width=670 height=440>
                <center>
                    <br /><br />
                    @foreach (var met in Model)
                    {
                        <h5 style ="color:white">@Html.Raw(met.MetinIcerik)</h5>
                        <img src="~/Content/BlogResim/@met.Resim" width="700" />
                    }
                </center>
            </marquee>
        </div>
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="wrapper">
    <ul>
        <li class="facebook"><a href="https://www.facebook.com/adilet.djalilov" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
        <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
        <li class="instagram"><a href="https://www.instagram.com/_adilet29_/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
        <li class="google"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
        <li class="whatsapp"><a href="https://wa.me/996555219558" target="_blank"><i class="fa fa-whatsapp fa-2x " aria-hidden="true"></i></a></li>
    </ul>
</div>
<link href="~/Content/Sosyal_Media.css" rel="stylesheet" />